<a href="https://colab.research.google.com/github/Susanati/Estatistica_analise_Descritiva/blob/main/Estatistica_analise_Descritiva.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Aula de Estatistica**

Tipo de dados no Python: Dicionario 
e Analise de Dados.

# DataFrame

In [3]:
# Imports
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [4]:
# Dataset de Quantidade de frutas por dia dos alunos

notas = {'idade': [5, 6, 7, 4, 3, 5, 8, 13, 8, 1, 2, 5, 7, 4, 12, 5, 7, 3, 9, 10], 
         'fruta': [1, 0, 2, 3, 6, 4, 2, 7, 9, 3, 4, 5, 4, 1, 8, 7, 3, 4, 9, 4],
         'quantidade_final': [10, 15, 18, 11, 21, 12, 15, 12, 13, 18, 16, 28, 29, 20, 33, 14, 17, 44, 65, 27]} 

df = pd.DataFrame(notas, columns = ['idade', 'fruta', 'quantidade_final'])
df

    idade  fruta  quantidade_final
0       5      1                10
1       6      0                15
2       7      2                18
3       4      3                11
4       3      6                21
5       5      4                12
6       8      2                15
7      13      7                12
8       8      9                13
9       1      3                18
10      2      4                16
11      5      5                28
12      7      4                29
13      4      1                20
14     12      8                33
15      5      7                14
16      7      3                17
17      3      4                44
18      9      9                65
19     10      4                27

In [5]:
df.describe()

           idade      fruta  quantidade_final
count  20.000000  20.000000         20.000000
mean    6.200000   4.300000         21.900000
std     3.172248   2.637782         13.317578
min     1.000000   0.000000         10.000000
25%     4.000000   2.750000         13.750000
50%     5.500000   4.000000         17.500000
75%     8.000000   6.250000         27.250000
max    13.000000   9.000000         65.000000


**Informações da Analise Descritiva de dados de toda a tabela.**

*   Count - Quantidade alunos.
*   Mean - media de alunos comeram as frutas por ano.
*   Std - Variação de tanto de dados afasta media.
*   25% , 50% e 75% -medida de posições nessas porcentagens.